/* Start General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

body {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    color: #333;
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
    width: 100%;
}

a:visited {
    color: white;
}

/* End General Styles */




/* --------------------------------------------------------------------------------------------- */
/* Start the DashBoard PART */
/* --------------------------------------------------------------------------------------------- */
/* Start Main Content Layout */
.MainContent {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.SideBar {
    color: white;
    width: 250px;
    background-color: #000814;

    font-size: 2em;
    position: relative;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
}




.SideBarUl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
}


.SideBarLi {
    cursor: pointer;
    font-size: 0.7em;
    padding: 15px 30px;
    margin: 5px 15px;
    display: flex;
    align-items: center;
    position: relative;
}



.active {
    background-color: #2e8c54;
    border-radius: 10px;
    /* width: 20vh; */
}

.active::before {
    content: "";
    border-left: 10px solid #f3db2f;
    position: absolute;
    height: 70%;
    left: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}


.SideBarLi i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.SideBarLi:last-child::after {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 2px solid #ffffff20;
    width: 80%;
    bottom: -10px;
    left: 5%;
    top: 50%;
}

.SideBarLogOut {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff20;
    border-radius: 10px;
    font-weight: normal;
    font-size: 0.8em;
    padding: 10px 40px;
    cursor: pointer;
}

.SideBarLogOut i {
    margin: 8px;
    font-size: 0.8em;
}

.SideBarLogOut div {
    width: 100%;
}

/* End Main Content Layout */




/* Start the MainSection  */

.MainSection {
    height: 100vh;
    background-color: #2C323D;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.cardData {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
    font-size: clamp(1.4em, 2vw, 2.2em);
}

/* Start The container of the 4 boxes in the dashboard RentedCars , income , outcome , rents */
.CounterContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    background-color: #3d6289;
    gap: 13px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.card {
    color: black;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background-color: #e2e2e2;
}

.card p {
    margin: 10px 0;
    font-size: 0.8em;
    font-weight: bold;
}

.card i {
    margin: 0 0 10px 10px;
    color: #26654a;
}


.card span {
    padding: 0 15px;
    font-size: 1.5em;
    background-color: #124d7b54;
    border-radius: 15px;
}

/* End The container of the 4 boxes in the dashboard RentedCars , income , outcome , rents */




/* Start the Latest Rents and What's coming today section */
.SquareContainer {
    display: flex;
    flex: 1;
    margin-top: 10px;
    /* flex-direction: column; */
    gap: 10px;
    height: 30%;
}

.DashboardAllFlex {
    display: flex;
    flex-direction: column;

}

@media screen and (max-width:900px) {
    .DashboardAllFlex {
        max-height: 60%;
    }
}

.SquareBox {
    flex: 1;
    min-width: 250px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.SquareBox h2 {
    margin: 0 0 10px;
    color: black;
    font-size: 1.6em;
}

.SquareBox table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}

.SquareBox table th,
.SquareBox table td {
    padding: 8px;
    border-bottom: thick;
    text-align: left;
    font-size: 1rem;
}

.SquareBox p {
    margin: 0;
}

.SquareBox {
    flex: 1;
    background-color: #e5e5e5;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-size: 0.6rem;
    padding: 20px;
    overflow-y: auto;
    margin: 10px 0;
    min-height: 37.2vh;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

th,
td {

    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.3s;
}

th {
    background-color: #4CAF50;
    color: white;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody tr {
    background-color: #f9f9f9;
    border-bottom: 1px solid #a9a9a9;
    font-size: 1.4em;
}

tbody tr:last-child td {
    border-bottom: none;
}

td {
    color: #333;
    font-size: 14px;
}

tbody tr:hover {
    background-color: #858a8e;
    transition: 0.2s ease-in-out;
}



.SquareBox ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}


.notification-item,
.notification-car {
    cursor: pointer;
    background-color: beige;
    display: flex;
    align-items: center;
    color: white;
    background-color: #3d677a;
    border-radius: 5px;
    padding: 15px;
    font-size: 1rem;
    margin: 10px 0;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease;

}


.notification-item:hover,
.notification-car:hover {
    background-color: #051f34;
    transform: translateY(-2px);

}

.notification-item:before,
.notification-car::before {
    content: "\f0f3";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #3498db;
    margin: 0 5px 0 -7px;
}


.notification-car::before {
    content: '\f0ad';
}

.SquareBox p {
    color: #666;
    font-size: 14px;
    margin-top: 10px;
}

/* End the Latest Rents and What's coming today section */
/* End Main Content Layout */

/* --------------------------------------------------------------------------------------------- */
/* End the DashBoard PART */
/* --------------------------------------------------------------------------------------------- */












/*Start Key frames and animations for the Maintain Page */
/* 3d animation car background */
@keyframes bounce {

    0%,
    100% {
        transform: rotate3d(1, -1, 0, 2deg) translateX(-290px) translateZ(-50px);
    }

    50% {
        transform: rotate3d(1, -1, 0, 8deg) translateX(-300px) translateY(-20px) translateZ(-40px) scale(1.005);
    }
}

/*End Key frames and animations for the Maintain Page */

/*Start Responsive Design: Maintain Page*/
@media (max-width: 768px) {
    .sploit {
        flex-direction: column;
        align-items: center;
    }

    .form,
    .CarPlace {
        flex: none;
        width: 100%;
    }

    .CarPlace img {
        max-width: 100%;
        transform: none;
        animation: none;
    }
}

/*End Responsive Design: Maintain Page*/


/* //////////////////////////////////////////////////////////////////////////////////////////////  */
/* --------------------------------------------------------------------------------------------- */
/* End the Maintain Page */
/* --------------------------------------------------------------------------------------------- */
/* //////////////////////////////////////////////////////////////////////////////////////////////  */










/* //////////////////////////////////////////////////////////////////////////////////////////////  */
/* --------------------------------------------------------------------------------------------- */
/* Start the Rent Page */
/* --------------------------------------------------------------------------------------------- */
/* //////////////////////////////////////////////////////////////////////////////////////////////  */


/*Start MainSection FOr the rent */

.MainSection .RentSection .headingData {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MainSection .RentSection .ExportPart {
    color: white;
    padding: 20px;
}

.MainSection .RentSection .RightSideContent {
    display: flex;
    align-items: center;
}

.MainSection .RentSection .RightSideContent .ExportPart {
    padding: 10px;
    border-radius: 10px;
    background-color: #3452b6;
    border: none;
    font-size: 1.4em;
}

.MainSection .RentSection .RightSideContent .ExportPart i {
    font-size: 1.1rem;
}

.MainSection .RentSection .RightSideContent #searchInput {

    min-width: 120px;
    margin: 10px 5px 10px 0;
}

/*End MainSection FOr the rent */



/* Start the Content styles for the Recent Rents */
.MainContent .container {
    position: relative;
    min-height: -webkit-fill-available;
    width: 99%;
    margin: 20px auto;
    background-color: #59768fd6;
    padding: 20px;
    border-radius: 8px;
    height: 82.4vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.MainContent .container h2 {
    margin-bottom: 20px;
}

.MainContent .container .controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;

}

.MainContent .container .controls button {
    background-color: #007bff;
    color: white;
    font-size: 1.3em;
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.MainContent .container .controls button:hover {
    background-color: #0056b3;
}



/* Start Rent Table PReview */
.MainContent .container table {
    border-radius: 10px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.MainContent .container table th,
table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
}

.MainContent .container table th {
    font-weight: bold;
}

.MainContent .container table tr:hover {
    background-color: #f1f1f1;
}

.status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
}

.edit_btn {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    background: #42a4ff;
    border: none;
    color: black;
    cursor: pointer;
}

.delete_btn {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    background: #ff3333;
    border: none;
    color: black;
}

.status.confirmed {
    background-color: #e5f8e3;
    color: #28a745;
}

.status.cancelled {
    background-color: #fce6e6;
    color: #dc3545;
}

.details-btn,
.assign-btn {
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.details-btn:hover,
.assign-btn:hover {
    background-color: #007bff;
    color: white;
}

input#searchInputRent {
    min-width: 230px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

#RentTable {
    position: relative;
}

/* End Rent Table PReview */






/* Start the adding New Rent Part */

.RentOpener {
    position: absolute;
    left: 99.5%;
    background: #007bff;
    border-radius: 50%;
    padding: 8px;
    z-index: 8;
    cursor: pointer;
    color: white;
    /* font-size: 2em; */
    top: 50%;
    outline: 7px solid #2C323D;
    /* outline: 9px double #59768fd6; */
    transform: translate(-50%, -50%);
}

.RentOpener::before {
    content: '\f055';
    font-family: 'Font Awesome 5 Free';
    font-size: 1.2em;
}


.RentContainer {
    position: fixed;
    top: 50%;
    right: -120%;
    transform: translateY(-50%);
    min-width: 35vw;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.5s ease;
    z-index: 60;
}

.TwiceParent {
    display: block;
}


.FormRent {
    background: #9da7a4e6;
    padding: 10px 20px;
    color: #00264e;
    font-size: 0.9em;
}

input.SubmitRent,
input.DoneRentEdit {
    margin: 10px 0;
    background-color: #1558c4b8;
}

input.DoneRentEdit {
    display: none;
}

input.DoneRentEdit.active {
    display: block;
}



.RentContainer.show {
    right: 3%;
    transition: 0.5s;

}



/* End the adding New Rent Part */




/* Start Responsive for the Rent page */

@media screen and (max-width:1250px) {
    .MainSection .container #RentTable {
        font-size: 0.7em;
    }
}


@media screen and (max-width:1180px) {

    .MainContent .container table th,
    table td {
        padding: 7px;
    }

    .MaintainSection {
        padding: 0;
    }

    .CounterContainer {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        gap: 10px;
        padding: 10px;
    }

    .sploit {
        display: block;
    }

    .CarPlace img {
        display: none;
    }

    .MaintainSection {
        display: flex;
        flex-direction: column;
        background: linear-gradient(45deg, #1d1515, #153654);
    }

    .table-container {
        margin: 0;
        min-height: 500px;
    }

    .form {
        padding: 10px 20px;
    }

    .nest {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .pair {
        display: flex;
        flex-direction: column;
        flex-basis: 48%;
    }

    .form input,
    .form textarea {
        margin-bottom: 5px;
    }

    #maintenanceTable td {
        font-size: 0.9em;
        color: #ff8a4a;
        border-right: 1px solid #a9a9a91f;
        padding: 10px;
    }


}



@media only screen and (max-width:1400px) {
    .MainSection {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
        grid-template-rows: repeat(13, minmax(252px, 1fr));
    }

    .MainContent {
        height: fit-content;
        display: block;
        min-height: 100%;
    }

    html {
        font-size: 12px;
    }

    .SideBar {
        width: 100%;
        font-size: clamp(1em, 3vw, 2.2em);

    }

    .logo {
        margin-left: 10px;
        padding: 10px 10px;
        margin: 0;
    }

    .SideBarUl {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 1.6em;
        padding: 7px;
    }

    .SideBarLi {
        margin: 0px 3vw;
        font-size: 0.8em;
        padding: 3px 5px;
    }

    .SideBarLi .SideBarIcon {
        display: none;
    }

    .SideBarLi:last-child::after {
        display: none;
    }

    .SideBarLogOut {
        transform: translateX(210%);
        top: 10px;
        height: fit-content;
        padding: 0;
        margin: 0;
    }

    .SideBarLogOut div {
        display: none;
    }

    .SideBarLi:first-child:before {
        display: none;
    }

    .SideBarLi p {
        padding: 5px 5px;
    }

    .nest {
        display: block;
    }

    .CarModel img {

        top: -11%;
    }

    th,
    td {
        padding: 5px 10px;
    }

    .card {
        padding: 10px 0;
        font-size: 0.8em;
    }

    .cardData {
        margin-bottom: 10px;
    }



    .SquareContainer {
        display: flex;
        flex: 1;
        flex-direction: column;
    }


    .TableLatestRents {
        overflow: auto;
        padding: 10px;
    }

    .TableNotif {
        padding: 10px;
    }

    .active::before {
        display: none;
    }

    .table-container {
        overflow-x: auto;
        /* Allow horizontal scrolling */
    }


    .MainContent .container table th,
    table td {
        padding: 10px 7px;
    }


    .CarPlace img {
        max-width: 199%;
    }


}

@media only screen and (max-width:930px) {
    .RentTableHolder {

        overflow: auto;
    }
}

@media screen and (max-width:500px) {
    input#searchInputRent {
        min-width: 133px;
    }

    .MainContent .container .controls button {
        font-size: 1em;
    }

    .logo {
        font-size: 1em;
    }

    .SideBarUl {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 1.3em;
        padding: 7px;
    }



}


/* End Responsive for the Rent page */